{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <style>

.item > * {
    color: white;
}

.banner-overlay {
    background-image: url("/static/images/madaktari-banner.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	width: 100%;
    color: white;
}

.banner-overlay-children {
    background: rgba(48, 48, 48, 0.8);
}
.item a {
  color: #FFF;
  font-weight: bold;
}

    </style>
    <body>
{#        {% block nav %}#}
          {# add dropdown variable here to the render_nav method to render dropdowns #}
{#          {{ nav.render_nav(current_user) }}#}
{#        {% endblock %}#}
    <div class="banner-overlay">
        <div class="banner-overlay-children">
            <div class="ui secondary stackable menu">
                <div class="ui container">
                    <div class="item">
                      <h2><a href="/">Madaktari Africa</a></h2>
                    </div>
                    <div class="right menu">
                        <div class="item">
                          <a href="http://www.madaktari.org" target="_blank">Go back to main site</a>
                        </div>
                          {% if current_user.is_authenticated %}
                        <div class="item">
                          <p>Hello <strong>{{ current_user.first_name }}</strong></p>
                        </div>
                        <div class="item">
                          <p><a href="{{ url_for('account.manage') }}">Settings</a></p>
                        </div>
                        <div class="item">
                          <p><a href="{{ url_for('account.logout') }}">Logout</a></p>
                        </div>
                          {% endif %}
                    </div>
                </div>
            </div>
            <div class="ui container">
            <br/>
                <h1>{% block page_title %}{% endblock %}</h1>
                <h3>{% block page_description %}{% endblock %}</h3>
                <br/>
            </div>
        </div>
    </div>
    <br/>

        {% include 'partials/_flashes.html' %}
        
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}
    </body>
</html>
