
{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet sixteen wide computer centered column">
            <h2 class="ui header">
                <div class="sub header">
                    View volunteers who are also accepted
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-users" type="text" placeholder="Search users…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th class="sorted ascending">Last name</th>
                            <th>Email address</th>
                            <th>Overlapping Dates</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users | sort(attribute='last_name') %}
                    {% if u.id != current_user.id %}
                    <tr >
                            <td>
                              
                              <img id="profileImg" class="ui avatar image" src="
                              {% if u.profile.first() != None and u.profile.first().profile_pic != None %} 
                              {{ u.profile.first().profile_pic }} 
                              {% else %} 
                              {{ url_for('static', filename="images/default_prof.png") }}
                              {% endif %}
                              "/>
                              {{ u.first_name }}</td>
                            <td>{{ u.last_name }}</td>
                            <td><a href="mailto:{{u.email}}">{{ u.email }}</td>
                            <td>{% if overlapping_dates[u.id] != [] %}{{ overlapping_dates[u.id]['start'] }} to {{ overlapping_dates[u.id]['end'] }}{% endif %}</td>
                            <td>
                              <button class="ui button" onclick="enable_modal('{{ u.full_name() }}', {{ u.id }})">Add to Team</button> &nbsp; <br>
                                <button class="ui button" onclick="window.location.href = '{{ url_for('account.view_profile', id=u.id) }}'">View Profile</button>
                            </td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="ui modal" id="addteam">
        <i class="close icon"></i>
        <div class="header">
            Add Volunteer to Team
        </div>
        <br/>
        <div class="ui grid">
            <div class="two wide column"></div>
            <div class="ten wide column">
                <form class="ui form" action="{{ url_for('team.add_to_team') }}" methods="POST">
                    <input type="hidden" name="user_id" id="user_id_input">
                    <div class="field">
                        <label>Team</label>
                        <select name="team_id" class="ui dropdown" onchange="check_for_new_team(this.value)">
                            <option value="">Select Team</option>
                            <option value="new_team">Create New Team</option>
                            {% for t in teams %}
                                <option value="{{ t.id }}">{{ t.team_name }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                    <br/>
                    <div class="field" id="new_team_name_input">
                        <label>Name of New Team</label>
                        <input type="text" name="new_team_name">
                    </div>
                    <br/>
                    <div class="field">
                        <label>Email Message for <span id="user_to_add">Volunteer</span></label>
                        <textarea name="email_content"></textarea>
                    </div>
                    <br/>
                    <input class="ui button" type="submit" value="Confirm" >
                    <br/>
                </form>
            </div>
            <div class="two wide column"></div>
        </div>
    <br/>
    </div>


    <script type="text/javascript">

        // Searching in list of users
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-role').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });

        // Check if new team
        $("#new_team_name_input").hide();
        function check_for_new_team(selected_value) {
            if (selected_value === "new_team") {
                $("#new_team_name_input").show();
            } else {
                $("#new_team_name_input").hide();
            }
        }

        function enable_modal(user_fullname, user_id) {
            $('#addteam').modal('show');
            $('#user_to_add').text(user_fullname);
            $('#user_id_input').attr("value", user_id);
        }
    </script>
{% endblock %}
