{% extends 'layouts/base.html' %}
{% import 'macros/dash_macros.html' as d %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ d.dashboard_option('Refer a Candidate', 'account.refer_candidate',
                                    description='Refer a new candidate for consideration', icon='add user icon') }}
                {{ d.dashboard_option('Find Teammates', 'account.find_teammates',
                                    description='See accepted users to find a teammates', icon='users icon') }}
                {{ d.dashboard_option('Edit Dates', 'account.edit_dates',
                                    description='Edit your available date ranges', icon='calendar icon') }}
            </div>
        </div>
    </div>
{% endblock %}
