{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ dashboard_option('Refer a Candidate', 'account.refer_candidate',
                                    description='Refer a new candidate for consideration', icon='add user icon') }}
                {{ dashboard_option('Find Teammates', 'account.find_teammates',
                                    description='See accepted users to find a teammates', icon='users icon') }}
                {{ dashboard_option('Create Team', 'account.create_team',
                                    description='Create a team', icon='users icon') }}
            </div>
        </div>
    </div>
{% endblock %}