{% extends 'layouts/base.html' %}
{% import 'macros/dash_macros.html' as d %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {% if current_user.can(Permission.APPLICANT) %}
                    {{ d.dashboard_option('Review Application', 'main.form',
                                        description='Review your application to Madaktari', icon='file text outline icon') }}
                {% endif %}
                {% if current_user.can(Permission.ACCEPTED) %}
                    {{ d.dashboard_option('Review Profile', 'account.edit_dates',
                                        description='Review your volunteer profile', icon='doctor icon') }}
                {% endif %}
                {% if current_user.can(Permission.ACCEPTED) %}
                    {{ d.dashboard_option('Team Formation', 'team.index',
                                        description='Create a team for a Madaktari trip', icon='users icon') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
