{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                My Teams
                <div class="sub header">
                    View and manage your teams
                </div>
            </h2>

            {% for team in teams %}
                <div class="ui segment">
                    <h3 class="ui header">{{ team.team_name }}</h3>

                    <div class="ui bulleted list">
                    {% for member in team.team_members %}
                        <div class="item">{{ User.get_user_fullname(member.user_id) }}</div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
