// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

// General nav
nav {
    margin-bottom: 40px !important;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}

// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

.page-header {
  min-height: 50vh;
  background: url(/static/images/madaktari.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:  100%;
  background-color: rgba(0,0,0,.50);
  z-index: 0;
}

.header-content {
  color: white;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
