{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block page_title %} Welcome {% endblock %}
{% block page_description %} Thank you for your interest in Madaktari Africa. Please create an account or
log in to get started. {% endblock %}

{% block content %}
    <div class="ui grid container">
        <div class="twelve wide centered column">
            <div class="ui large secondary pointing menu">
                {% block menu_items %}{% endblock %}
            </div>

            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}