{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Hello {% if not (current_user.is_authenticated) %} world {% else %} {{ current_user.full_name() }}. Your role is {{ current_user.role.name }}. {% endif %}</h1>
      {% if current_user.is_authenticated %} 
      {% if current_user.is_role("applicant") and content is not none %}
        <div id="fb-render"></div>
        <form id="submitForm">
          <input type='submit' class='btn btn-success' value='Submit Form'/>
        </form>
        <script src="http://formbuilder.online/assets/js/form-render.min.js"></script>
        <script>
          jQuery(function($) {
            var fbRender = document.getElementById('fb-render');
            var formData = {{ content | safe }}
            var formRenderOpts = {
              formData
            };
            $(fbRender).formRender(formRenderOpts);
            $("#submitForm").submit(function() {
              var o = {};
              var a = $("#fb-render :input").serializeArray();
              console.log(a)
              $.each(a, function() {
                if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
                }
                else {
                  o[this.name] = this.value || '';
                }
              });
              var settings = {
                  "async": true,
                  "crossDomain": true,
                  "url": "/submit-form",
                  "method": "POST",
                  "headers": {
                    "content-type": "application/json",
                    "cache-control": "no-cache",
                  },
                  "processData": false,
                  "data": JSON.stringify(o)
              };
              $.ajax(settings).done(function (response) {
                console.log(response);
              });
            });
          });
        </script>
        {% elif current_user.is_role("pending") %}
          <h1>Application Responses</h1>
          <a href="{{ url_for('main.edit_form') }}">Remove and Edit Form Responses</a>
          <div class="twelve wide column">
            {% for f in form_resp_obj %}
            <div>
              <h2><strong>{{ loop.index }}. {{ f['label'] }}</strong></h2>
              {% if f['resp'] is string %} <h4>{{ f['resp'] }}</h4> {% else %} <h4> {% for r in f['resp'] %} <p> {{ r }} </p> {% endfor %} </h4> {% endif %}
            </div>
            <br><br>
            {% endfor %}
          </div>
          {% endif %}
        {% endif %}
        
    </div>
{% endblock %}
