{% extends 'layouts/base.html' %}
{% import 'macros/dash_macros.html' as d %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Admin Dashboard
            </h2>
            <div class="ui two column stackable grid">
                {{ d.dashboard_option('Registered Users', 'admin.registered_users',
                                    description='View and manage user accounts', icon='users icon') }}
                {{ d.dashboard_option('Add New User', 'admin.new_user',
                                    description='Create a new user account', icon='add user icon') }}
                {{ d.dashboard_option('Invite New User', 'admin.invite_user',
                                    description='Invites a new user to create their own account', icon='add user icon') }}
                {{ d.dashboard_option('Refer a Candidate', 'account.refer_candidate',
                                    description='Refer a new candidate for consideration', icon='add user icon') }}
                {{ d.dashboard_option('Edit Application Form', 'admin.create_form_index',
                                    description='Create/Edit the application form for the volunteers', icon='file text outline icon') }}
                {{ d.dashboard_option('View Applicant Responses', 'admin.get_responses',
                                    description='View responses from the volunteers', icon='file text outline icon') }}
            </div>
        </div>
    </div>
{% endblock %}
